html {
    height: unset !important;
}.main {
    width: 400px;
    height: unset;
}
div.option:not(:last-child) {
    margin-bottom: 20px;
}

section {
    margin: 0 auto;
    border: 1px;
    border-style: solid;
    /* max-width: 700px; */
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

section .title {
    margin-top: 0px;
}

.slider .box-input {
    width: 50px;
    padding: 0px;
}
