YouTube® Accelerated: It's the same <b>YouTube®</b> you love but it's <b>Accelerated</b>.

Easy to access controls for changing the speed on the native YouTube® player.

Features:
<ul>
    <li>Used material design to match YouTube®'s UI</li>
    <li>Allow setting the speed greater than 2x</li>
    <li>Remebers your speed setting per video category</li>
    <li>Supports embedded YouTube® player (iframes)</li>
</ul>

YouTube® speed controller.
